button {
  background-color: black;
  display: block;
  width: 800px;

  span {
    border: 0;
    display: block;
    height: 70px;
    font-family: 'Arial';
    font-size: 36px;
    line-height: 70px;
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(#ffffff, #00ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;  
    background-size: 100%;
    background-repeat: repeat;
    cursor: pointer;
  }
}